#proyectodecabecera {
    background-color: cyan;
    margin-bottom: auto;
}

#boton {
    background-color: crimson;

}

#boton2 {
    background-color: crimson;
}

#comentario {
    background-color: papayawhip;
}

#articulos {
    background-color: cyan;
}

#barraarti {
    display:inline;
}

#barraglo {
    display:inline;
}

#glosariocolor {
    background-color: cyan;
}

#glosariosagregados {
    background-color: tomato;
}

#principal1 { 
    background-color: papayawhip;
}

#terminosestilos {
    background-color: tomato;
}

#listados {
    background-color: cyan;
}

#listas1 {
    background-color:papayawhip;
}

#terminoagregado {
    background-color: cyan;
}

#datos {
    background-color: tomato;
}

#ciclo {
    background-color: tomato;
}

#ciclo2 {
    margin-left: 10cm;
}

#desarrollo {
    background-color: tomato;
}

#metodologias {
    background-color: tomato;
}

#text1 {
    margin: auto;
}

#text2 {
    margin: auto;
}

#text3 {
    margin: auto;
}

#pie_de_pagina {
    
    background-color: cyan;
    margin-bottom: auto;
}

#derechos {
    background-color: cornsilk;
    margin-top: auto;
}
